{% extends "base.html" %}

<!-- -----------------------------------    Head    -------------------------------------------- -->

      <title>{% block title %}Home{% endblock title %} - Swing Wizard</title>

<!-- -----------------------------------    Body    -------------------------------------------- -->

<!-- ----------------------------------    Navbar    ------------------------------------------- -->

<!-- -----------------------------------    Main    -------------------------------------------- -->

<!-- -----------------------------------    Main1    -------------------------------------------- -->

          <section class="jumbotron text-center">
            {% block secJumbo %}
              <div class="container">
                <br>
                <br>
                <h1 class="jumbotron-heading">Swing Wizard</h1>
                <br>
                <p>
                  {% block buttonsOrResults %}
                  <a href="{{ url_for('base.user', username=current_user.username) }}" class="btn btn-primary my-2">Choose Input Type</a>
                  {% endblock buttonsOrResults%}
                </p>
              </div>
            {% endblock secJumbo %}
          </section>

<!-- -----------------------------------    Main2    -------------------------------------------- -->

<!-- -----------------------------------    test    -------------------------------------------- -->

<!-- -----------------------------------    EndMain    -------------------------------------------- -->

<!-- -----------------------------------    Footer    -------------------------------------------- -->
