{% extends "home.html" %}

<!-- -----------------------------------    Head    -------------------------------------------- -->

<!-- -----------------------------------    Body    -------------------------------------------- -->

<!-- ----------------------------------    Navbar    ------------------------------------------- -->

<!-- -----------------------------------    Main    -------------------------------------------- -->

<!-- -----------------------------------    Main1    -------------------------------------------- -->
                  {% block buttonsOrResults %}
                    <a href="{{url_for('base.input_image',username=current_user.username)}}" class="btn btn-primary my-2">Image</a>
                    <a href="{{url_for('base.input_video',username=current_user.username)}}" class="btn btn-secondary my-2">Video</a>
                    </form>
                      <div class='upload-label no-display'>
                        <label class='no-display' id='upload-label'></label>
                      </div>
                  {% endblock buttonsOrResults%}
<!-- -----------------------------------    Main2    -------------------------------------------- -->

<!-- -----------------------------------    test    -------------------------------------------- -->

<!-- -----------------------------------    EndMain    -------------------------------------------- -->

<!-- -----------------------------------    Footer    -------------------------------------------- -->
