numpy
torchvision
https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
fastai
starlette
uvicorn==0.3.32
python-multipart
aiofiles
aiohttp
flask-sqlalchemy==2.3.2
flask-migrate==2.4.0
flask-login==0.4.1
av==6.1.2
flask-wtf==0.14.2
Flask-Bootstrap==3.3.7.1
